{% extends "layout.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">            
            <h2 class="article-title">
                О Нобелевской премии по физике
            </h2>
            <div class="float-left box pr-3 pt-4">
                <img src="/static/img/atom202.png" class="rounded float-left" alt="Физика" width="222">
            </div>
            <p class="article-content text-justify">
                Нобелевская премия по физике (швед. Nobelpriset i fysik) присуждается один раз в год Шведской королевской академией
                наук. Это одна из пяти Нобелевских премий, созданных по воле Альфреда Нобеля в 1895 году, которая вручается с 1901 года.
                
                Другие премии: Нобелевская премия по химии, Нобелевская премия по литературе, Нобелевская премия мира и Нобелевская
                премия по физиологии и медицине. Первая Нобелевская премия по физике была присуждена немецкому физику Вильгельму Конраду
                Рентгену «в знак признания необычайно важных заслуг перед наукой, выразившихся в открытии замечательных лучей, названных
                впоследствии в его честь». Эта награда находится в ведении Нобелевского фонда и по праву считается самой престижной
                наградой, которую может получить физик. Она вручается в Стокгольме на ежегодной церемонии 10 декабря, в годовщину смерти
                Нобеля.

                На Нобелевскую премию по физике можно выбрать не более трёх лауреатов. По сравнению с некоторыми другими Нобелевскими
                премиями, выдвижение и отбор на премию по физике — процесс длинный и строгий. Именно поэтому премия становилась всё
                авторитетнее на протяжении многих лет и в итоге стала важнейшей премией по физике в мире.
                
                
                Три лауреата Нобелевской премии по физике. В первом ряду слева направо: Альберт А. Майкельсон, Альберт Эйнштейн и Роберт
                Милликен.
                Нобелевские лауреаты выбираются Нобелевским комитетом по физике, который состоит из пяти членов, избираемых Шведской
                королевской академией наук. На первом этапе несколько тысяч людей предлагают кандидатов. Эти имена изучаются и
                обсуждаются экспертами до окончательного выбора.
                
                Формы направляются приблизительно трём тысячам человек с предложением представить свои кандидатуры. Имена номинаторов не
                объявляются публично в течение пятидесяти лет, и также не сообщаются номинантам. Списки номинантов и представивших их
                номинаторов хранятся в запечатанном виде в течение пятидесяти лет. Впрочем, на практике некоторые кандидаты становятся
                известными ранее.
                
                Заявки проверяются комиссией, и список, содержащий около двухсот предварительных кандидатов, направляется к выбранным
                экспертами в этих областях. Они урезают список до примерно пятнадцати имен. Комитет представляет доклад с рекомендациями
                соответствующим учреждениям. В то время как посмертная номинация не допускается, награду можно получить, если человек
                умер в течение нескольких месяцев между решением комитета премии (обычно в октябре) и церемонией в декабре. До 1974 года
                посмертные награды были разрешены, если получатель умер после того, как они были назначены.
                
                Правила Нобелевской премии по физике требуют, чтобы значение достижения было «проверено временем». На практике это
                означает, что разрыв между открытием и премией, как правило, порядка 20 лет, а может быть гораздо больше. Например,
                половина Нобелевской премии по физике в 1983 году была присуждена С. Чандрасекару за его работу по строению и эволюции
                звёзд, что была сделана в 1930 году. Недостаток этого подхода в том, что не все учёные живут достаточно долго, чтобы их
                работы были признаны. За некоторые важные научные открытия эта премия никогда не присуждалась, так как первооткрыватели
                умерли к тому времени, когда влияние их работ оценили
            </p>
        </div>
    </article>
    
{% endblock content %}
