<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Лауреаты Нобелевской премии по физике</title>
    {% endif %}
  </head>
  <body>    
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Лауреаты Нобелевской премии по физике</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{url_for('main.home')}}">Главная</a>
                <a class="nav-item nav-link" href="{{url_for('main.about')}}">О премии</a>
                <a class="nav-item nav-link" href="{{url_for('main.nobel')}}">О создателе</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}" >Новый пост</a>
                  <a class="nav-item nav-link" href="{{ url_for('users.account') }}" >Аккаунт</a>
                  <a class="nav-item nav-link" href="{{url_for('users.logout')}}">Выйти</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{url_for('users.login')}}">Войти</a>
                  <a class="nav-item nav-link" href="{{url_for('users.register')}}">Зарегистрироваться</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
    </header>
      
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories = true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{category}}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock content %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3></h3>
                    <p class="text-mutated">
                        
                        <ul class="list-group">
                          <li class="list-group-item list-group-item-light">
                            <b>Нобелевская премия по физике (швед. Nobelpriset i fysik)</b> присуждается один раз в год Шведской королевской академией
                            наук. Это одна из пяти Нобелевских премий, созданных по воле Альфреда Нобеля в 1895 году, которая вручается с 1901 года.
                          </li>                           
                          <li class="list-group-item list-group-item-light">
                            <b>Нобелевская премия</b> по физике была учреждена Альфредом Нобелем в его завещании. 
                            Нобелевская премия по физике присуждается ежегодно с 1901 года и лишь шесть раз этого не происходило: в 1916, 1931, 1934, 1940, 1941 и 1942 годах.                             
                          </li>                           
                          <li class="list-group-item list-group-item-light">
                            <b>Первым лауреатом</b> в 1901 году стал Вильгельм Рентген. За период с 1901 по 2019 год 215 человек были награждены 114
                            премиями (Джон Бардин был награждён премией по физике дважды).
                          </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static', filename='/js/jquery-3.3.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/bootstrap.min.js')}}"></script>
  </body>
</html>