{% extends "layout.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">            
            <h2 class="article-title">
                Нобель, Альфред
            </h2>
            <div class="float-left box pr-3 pt-4">
                <img src="/static/img/AlfredNobel.jpg" class="rounded float-left" alt="Физика" width="222">
            </div>
            <p class="article-content text-justify">
                А́льфред Бе́рнхард Но́бель (швед. Alfred Bernhard Nobel [ˈǎlfrɛd nʊˈbɛlː] Информация о файле слушать; 21 октября 1833, Стокгольм, Шведско-норвежская уния — 10 декабря 1896, Сан-Ремо, Королевство Италия) — шведский химик, инженер, изобретатель, предприниматель и филантроп.
                
                Нобелю, известному как изобретатель динамита, также принадлежала компания Бофорс, которую он переориентировал от металлургии к химическому и пушечному производствам. Нобелю принадлежало 355 различных патентов, динамит же является
                самым известным. После прочтения преждевременного некролога, который осудил его за прибыль от продажи оружия, он завещал своё состояние, чтобы учредить Нобелевские премии, присуждаемые за наиболее важные достижения в физике, химии,
                медицине, литературе и за вклад в укрепление мира. Его имя сохранилось в современных компаниях, таких как Dynamit Nobel (англ.) и AkzoNobel, которые являются потомками слияний с компаниями, основанными Нобелем.
                
                Альфред Нобель в молодости

                Альфред Нобель родился в Стокгольме 21 октября 1833 года в семье Эммануэля Нобеля-младшего (1801—1872), изобретателя и инженера, и Андриетты Нобель (1805—1889). Он был третьим сыном, всего в семье было восемь детей. Семья была
                обедневшей, и выжили, помимо Альфреда, лишь Роберт, Людвиг и Эмиль. Через своего отца Альфред Нобель был потомком шведского учёного Улофа Рудбека (1630—1702), и, в свою очередь, мальчик интересовался техникой, в частности
                взрывчаткой, изучая основные её принципы от своего отца в раннем возрасте. Интерес Альфреда Нобеля к технологиям был унаследован от его отца, выпускника Королевского технологического института в Стокгольме.
                
                После многочисленных неудач в бизнесе, в 1837 году Эммануэль переехал в Санкт-Петербург и стал успешным как производитель станков и взрывчатых веществ. Он изобрёл современную фанеру и начал работать над торпедой. В 1842 году
                семья присоединилась к нему в городе. Теперь, процветая, родители смогли отправить Нобеля к частным преподавателям, и мальчик преуспел в учёбе, особенно в области химии и языков, и научился свободно разговаривать на английском,
                французском, немецком и русском языках. В школу Нобель ходил лишь в течение 18 месяцев, с 1841 по 1842 год; это была школа при церкви святого Якоба в Стокгольме.
                
                В 1849 году, после семи лет пребывания семьи Нобелей в Петербурге, отец по рекомендации русского химика Николая Николаевича Зинина отправил сына на обучение в Европу и Америку. Весной следующего года шестнадцатилетний Альфред Нобель
                выехал из Петербурга. Он посетил Данию, Германию, Италию, Францию и затем Америку. В Париже он встретил Асканио Собреро, открывшего в 1847 году нитроглицерин. Собреро решительно выступал против использования нитроглицерина,
                поскольку он был непредсказуемым, взрывающимся при воздействии тепла или давления. Но Нобель заинтересовался поиском способа контроля и использования нитроглицерина в качестве коммерчески полезного взрывчатого вещества, так как он
                обладал, гораздо большей мощностью, чем порох. В возрасте 18 лет он отправился в Соединённые Штаты на один год, чтобы изучить химию. Там он работал в течение короткого периода времени у изобретателя Джона Эрикссона, который
                разработал во время гражданской войны в США броненосец USS Monitor. В 1857 году Нобель подал свой первый патент, английский патент на газовый счётчик, в то время как его первый шведский патент, который он получил в 1863 году, был
                «способы приготовления пороха».
                
                Вернувшись в Россию, Нобель занялся ведением дел семейных фабрик, исполнявших военные заказы для русской армии. Дальнейшему процветанию компании Нобеля способствовала начавшаяся в 1853 году Крымская война (1853—1856). В 1859 году
                отец Нобеля оставил свой завод на попечение второго сына, Людвига, который значительно улучшил бизнес. Нобель и его родители вернулись в Швецию из России, где Нобель посвятил себя изучению взрывчатых веществ, и особенно безопасному
                производству и использованию нитроглицерина. В 1863 году Нобель изобрёл детонатор.
                
                3 сентября 1864 года на фабрике в Хеленеборге близ Стокгольма взорвался сарай, используемый для приготовления нитроглицерина. В результате трагедии погибло пять человек, в том числе младший брат Нобеля Эмиль. Упрямо и
                невозмутимо, не замечая более незначительные аварии, Нобель продолжал строить заводы, сосредоточившись на улучшении стабильности взрывчатых веществ, которые он разрабатывал. В 1867 году Нобель получил патент на динамит — смесь
                нитроглицерина со способными впитывать его веществами. Рекламируя своё открытие, он проводил публичные демонстрации нового взрывчатого вещества и читал лекции о том, как оно работает. В результате к изобретению Нобеля начали проявлять
                интерес всё больше и больше людей[11]. Динамит был запатентован в США и Великобритании и широко использовался в горнодобывающей промышленности и строительстве транспортных сетей на международном уровне. В 1875 году Нобель изобрёл
                гремучий студень, более стабильный и мощный, чем динамит, а в 1887 году запатентовал баллистит, предшественник кордита.
                
                В 1888 году по ошибке репортёров в газете опубликовали сообщение о смерти Нобеля, перепутав его с братом Людвигом, скончавшимся в Каннах. Это оказало на Альфреда серьёзное влияние. Когда о нём стали писать «миллионер на крови»,
                «торговец взрывчатой смертью», «динамитный король», он решил сделать так, чтобы не остаться в памяти человечества «злодеем мирового масштаба».
                
                Нобель был избран членом Шведской королевской академии наук в 1884 году, тем же институтом, который позже отобрал лауреатов на две Нобелевских премии, а в 1893 году он получил почётную докторскую степень в Уппсальском университете.
                
                От производства динамита, других взрывчатых веществ и от разработок нефтяных полей Баку (Товарищество «Бранобель»), в которых он и его братья Людвиг и Роберт играли весомую роль, Альфред Нобель накопил значительное состояние. За свою
                жизнь Нобелю было выдано 355 патентов на международном уровне, и после его смерти в его бизнесе было создано более 90 заводов по производству вооружений, несмотря на его веру в пацифизм.
                
                В 1889 году он присутствовал на Всемирном конгрессе мира.
            </p>
        </div>
    </article>
    
{% endblock content %}
